@import "tailwindcss";

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

@theme{
  --color-blue-bg: #70163c;
  --color-blue-dull: #2e0f15;
  --color-gold: #e09f3e;
  --color-dull_gold: #e09f3e;
  --animate-marquee: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-bullet {
  background-color: #e6ba63 !important;
  opacity: 0.5;
}
.custom-bullet-active {
  background-color: #e6ba63 !important;
  opacity: 1;
}


.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}